@charset "UTF-8";

/* Paleta de Cores
Verde #049a09d
Lilás: #5f2c82 */


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82 ;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    
}

section#login {
    
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.650);
}

div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/pexels-pixabay-248921.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left;
}

div#formulário  { 
    display: block;
    padding: 20px;

}