@charset "UTF-8";

/* Paleta de Cores
Verde #049a09d
Lilás: #5f2c82 */


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82 ;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    
}

section#login {
    
    background-color: white;
    width: 250px;
    height: 520px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.650);
}

div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/pexels-pixabay-248921.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left;
}

div#formulário  { 
    display: block;
    padding: 20px;

}

div#formulário > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulário > p {
    font-size: 0.8em;
}

.campo {
    
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px 5px 0px ;
}

div.campo > label {
    display: none;
}

/* form > input[type=submit] {

    display: block
} 
Pode usar assim caminho completo ou pode criar a classe e se referir mais diretamento, veja abaixo.
*/

.enviar {
    display: block;
    margin-top: 20px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
}

.enviar:hover {

    background-color: #2d6462;
    cursor: pointer;
}

.botao1 {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 20px;
    margin-top: 15px;
    text-decoration: none;
}

a.botao1 > span {
    font-size: 0.9em;
}

a.botao1:hover {
    text-decoration: underline;
}